.rquote {
 font-family: Times;
 font-size:80%;
 margin-left:10%;
 margin-right:10%;
 color: DarkBlue;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

